*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {background-color: rgba(35, 111, 197, 0.61);
    background-image: url("../img/pattern.png");
    background-size: 15%;

}
.headerlogo{
    margin-bottom: 10px;
    width: 100px;
    height: 50px;
}
.titoloprincipale {
    margin-top: 15px;
    margin-bottom: 15px;
}

.Scrittura{
    color: rgb(255, 0, 221);
    margin-top: 25px;
    margin-bottom: 20px;
}
.Scrittura2 {
    color: blue;
}

Main {font-size: 20px ;
margin-top: 20px;
margin-bottom: 20px; }

.listanonordinata {
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 15px;
}

table{
    text-align: left;
    border-collapse: collapse;
}

.text{
    width: 40px;
}



.partesecondaria {
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}
#partefinale{
    color: blue;
}
.lastimage1 {
    background-image: url(../img/monitor.jpg);
    width: 250px;
    height: 200px;
    margin-bottom: 15px;
    color: white;
    font-size: 35px;
}
.lastimage2 {
    background-image: url(../img/graph.jpg);
    width: 250px;
    height: 200px;
    background-position: bottom;
    color: white;
    font-size: 35px;
}
